input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.bg_image-cp {
    background-image: url('../img/windmills.png');
    background-size: cover;
    height: 100vh;
    color: #f5f5f5;
}

.row1-cp {
    display: flex;
    align-items: center;
}

.col1-container-cp {
    width: 75%;
}

.col1-container-cp .header-text-cp {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    margin-bottom: 100px;
}

.header-text-cp .header-span-cp {
    color: #0CC18B;
}

.container-hp .body-text-hp {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    /* text-align: center; */
}

.text-link:hover {
    text-decoration: none;
}