button:focus {
    outline:0;
}

html, body {
    margin: 0; height: 100%;
}

::selection{
    color: #000000;
    background: #0CC18B;
}

#container{
    display: flex;
    align-items: center;
}

#explanation-container{
    flex: 50%;
    order: 0;

/* float: left; */
/* width: 50%; */
}

#explanation{
    margin-left: 8%;
    margin-right: 8%;   

/* margin: 15%; */
/* margin-top: 25%; */

/* position: absolute;
top: 50%;
-ms-transform: translateY(-50%);
transform: translateY(-50%);     */
}

#tool-container-ep{
    flex: 50%;
    order: 1;

/* float: right;
width: 50%;    */
}


.head{
    font-size: 36px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    margin-bottom: 30px;
}

.head span{
    color: #0CC18B;
}

.text{
    font-size: 18px;
    line-height: 25px;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 10%;
}

.button{
    width: 171px;
    height: 56px;
    left: 463px;
    top: 707px;
    background: #0CC18B;
    border-radius: 35px;
    border: none;
    
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
    color: #ffffff;

    float: right;
}

.button-right{
    float: right;
}

.button-left{
    float: left;
}

.button:hover{
    background: #179771;
}