.bg_image-oq {
    background-image: url('../img/SEP-tool.png');
    background-size: cover;
    height: 100vh;
    color: #f5f5f5;
}

.content-container-oq {
    width: 100%;
}

.submit-oq {
    font-family: nunito;
    width: 171px;
    height: 56px;
    color: white;
    background: #0CC18B;
    border: 2px solid #0CC18B;
    box-sizing: border-box;
    border-radius: 35px; 
    float: right;
}

.error-message {
    color: #D86972;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
}

.header1-oq {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
}

.text-oq {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
}

#input-oq {
    width: 100%;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal
}

.col1-oq {
     display:flex;
    align-items: center;
    padding-bottom: 10%;   
    
      
}

.bottom {
    margin-top: 8%;
}

.col1-container-oq {
    margin-left: 8%;  
    padding-right: 8%;
}